// media Query Sizes
$extraSmall: 639px;
$small: 768px;
$medium: 990px;
$large: 1024px;
$Xlarge: 1420px;
$SideBarWidth: 200px;

.navbar {
  z-index: 9;
  background-color: #e7ecf0;
  padding: 26px 25px 26px 25px;
  position: fixed;
  align-items: center;
  display: flex;
  right: 0;
  left: unset;
  height: 94px;
  width: 100%;
  box-shadow: 0px -2px 3px 0px rgb(27 59 101);
  z-index: 49;
  [dir="rtl"] & {
    left: 0;
    right: unset;
  }

  @media only screen and (max-width: $medium) {
    padding: 26px 20px 26px 20px;
    width: 100%;

    [dir="rtl"] & {
      padding: 26px 20px 26px 20px;
    }
  }

  @media only screen and (min-width: 1024px) {
    width: calc(100vw - 300px);
  }

  // Logo
  &-brand {
    text-align: -webkit-center;

    img {
      max-width: 100%;
    }

    @media only screen and (max-width: $medium) {
      margin: 0;
    }
  }

  // toggler
  .navbar-toggler {
    background-color: #005eb8;
    padding: 6px 11px;
    border-radius: 5px;
    color: white;

    .hamburger {
      .line {
        width: 25px;
        height: 4px;
        background-color: #fff;
        display: block;
        margin: 4px auto;
        transition: all 0.3s ease-in-out;
        border-radius: 2px;
      }
    }

    &:not(.collapsed) {
      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(1) {
        -webkit-transform: translateY(1px) rotate(45deg);
        -ms-transform: translateY(1px) rotate(45deg);
        -o-transform: translateY(1px) rotate(45deg);
        transform: translateY(1px) rotate(45deg);
      }

      .line:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
      }
    }

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .border1 {
    border-right: 1px solid #002554;
    padding-right: 6px;
    opacity: 0.2;
    height: 16px;
    place-self: center;
  }

  .dot {
    align-items: center;
    background-color: #ef5457;
    border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    content: "";
    display: flex;
    font-weight: 500;
    justify-content: center;
    min-height: 17px;
    min-width: 17px;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 8px;
  }
  .nav-link2 {
    display: flex;
    background-color: #fff;
    background: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
    text-align: center;
    width: 41px;
    height: 41px;
    justify-content: center;
    place-items: center;
  }

  // left-nav
  .left-nav {
    align-items: center;

    @media only screen and (max-width: $medium) {
      margin: 10px 0;

      li {
        width: 100%;
        text-align: center;
      }
    }
  }

  // Menu-nav
  .menu-nav {
    li {
      &:not(:last-of-type) {
        border-right: 1.5px solid #f1f1f1;

        @media only screen and (max-width: $medium) {
          border: none;
        }
      }

      padding: 0 35px;

      a {
        color: #383d43;
        font-size: 14px;
      }

      @media only screen and (max-width: $medium) {
        text-align: center;
        margin: 10px 0;
      }
    }
  }

  // avatar-lists
  .avatar-lists {
    display: flex;
    margin-right: 20px;

    &-icon {
      width: 38px;
      height: 38px;
      border-radius: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      img {
        width: 100%;
        height: 100%;
      }

      &.add-icon {
        background: #40c1ac;
        box-shadow: 0px 7px 10px rgba(41, 38, 50, 0.03);
      }

      &.avatar {
        border: 2px solid #fff;

        &.active {
          &::before {
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            background-color: #40c1ac;
            border-radius: 100%;
            right: 6px;
            top: 2px;
          }
        }
      }
    }

    li {
      margin-right: -20px;

      &:not(:first-of-type) {
        margin-right: -15px;
        padding: 0;
        z-index: 1;
        position: relative;
      }

      &:not(:first-of-type):after {
        display: none;
      }
    }
  }

  .navbar-brand {
    font-size: 1.25rem;
    text-decoration: none;
    white-space: inherit;
    margin-left: 0px;
  }
  .rtl-p {
    padding-right: 10px;
  }
  .rtl-padding {
    padding-left: 10px;
  }

  .rtlx-padding {
    padding-left: 10px;

    [dir="rtl"] & {
      padding-left: 0;
    }
  }
}
