$extraSmall: 600px;
$small: 768px;
$medium: 990px;
$large: 1024px;
$Xlarge: 1420px;
$XXlarge:1536px;

.login {
  height: 100vh;

  .login-background {
    background: linear-gradient(60.09deg, #005eb8 27.42%, #002554 141.86%);
  }
  .login_form {
    padding: 2rem !important;
    
    @media only screen and (max-width: $extraSmall) {
      padding: 0rem !important;
    }
  }

  .login_header {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 24px;
    color: #002554;

    .login_header_chi {
      color: #40c1ac;
    }


        @media only screen and (min-width: $XXlarge) {
            font-size: 25px !important;
        }
    
        .login_header_chi {
            color: #40C1AC;
        }

        @media only screen and (max-width: $extraSmall) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    

        @media only screen and (min-width: $XXlarge) {
            font-size: 30px !important;
        }

        @media only screen and (max-width: $extraSmall) {
            font-size: 12px;
        }
    }

    @media only screen and (max-width: $extraSmall) {
      font-size: 12px;
    }

  .absolute.top-0.left-0.right-0.z-10.h-full.bg-white.rounded-md.shadow {
    background-color: #005eb8;
  }

}
