.notification-top-bar {
  position: relative;
  top: 0;
  left: 0;
  line-height: 20px;
  background: #1abc9c;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  border-radius: 0;
  margin-bottom: 10px;
  padding: 6px 5px;
  display: flex;
  align-self: center;
  align-self: center;
  flex-direction: column;
  max-width: 80rem;
  width: 100%;

  //   add media query for mobile
  @media (max-width: 768px) {
    height: max-content;
    color: #ffffff;
    line-height: 20px;
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 10px;
    border-radius: 0 !important;
    text-align: justify;
    padding: 12px;
  }
}
.notification-top-bar p {
  padding: 0;
  margin: 0;
}
.notification-top-bar p a {
  padding: 0px 5px;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
  text-decoration-line: underline;
  font-size: 13px;
}
