$extraSmall: 600px;
$small: 768px;
$medium: 990px;
$large: 1024px;
$Xlarge: 1420px;
$XXlarge: 1536px;

.register {
  height: 100vh;

  .login-background {
    background: linear-gradient(60.09deg, #005eb8 27.42%, #002554 141.86%);
  }

  .login_form {
    padding: 2rem !important;
  }

  .login_header {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #002554;

    @media only screen and (min-width: $XXlarge) {
      font-size: 25px !important;
    }

    .login_header_chi {
      color: #40c1ac;
    }

    @media only screen and (max-width: $extraSmall) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .login_info {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4b4f54;

    @media only screen and (min-width: $XXlarge) {
      font-size: 20px !important;
    }

    @media only screen and (max-width: $extraSmall) {
      font-size: 12px;
    }
  }

  .userCard {
    border: 1px solid #90969e;
    filter: drop-shadow(0px 7px 10px rgba(41, 38, 50, 0.03));
    border-radius: 8px;
    padding: 24px;
    width: -webkit-fill-available;
    text-align: -webkit-center;
    height: 120px;
    margin-bottom: 2rem;
  }

  .hoverCard {
    &:hover {
      background: #005eb8;
      border-radius: 8px;
      border: none;

      .label {
        color: #fff;
      }
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .activeCard {
    background: #005eb8;
    border-radius: 8px;
    border: none;
    .label {
      color: #fff;
    }
    img {
      filter: brightness(0) invert(1);
    }
  }
}

.change-password {
  h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
  }
  h5 {
    font-size: 14px;
    color: #898a8d;
    margin-bottom: 32px;
  }
  .password-rules {
    background: #f9f9fe;
    border-radius: 5px;
    padding: 16px;
    margin-top: 24px;
    p {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 12px;
    }
    .rule-conatiner {
      display: grid;
      grid-template-columns: 12px auto;
      align-items: center;
      .img-container {
        display: flex;
        justify-content: center;
      }
      span {
        padding-left: 10px;
      }
      .done {
        font-size: 15px;
        color: #74e0c1;
      }
      .pending-span {
        font-size: 15px;
        color: #898a8d;
      }
      .rejected {
        font-size: 15px;
        color: #ff0110;
      }
    }
  }
  .save-button {
    width: 100%;
    margin-top: 48px;
    display: flex;
    align-items: center;
    padding: 9px 16px;
    justify-content: center;
    border: unset;
    background: #222222;
    border-radius: 4px;
    font-size: 14px;
    color: white;
  }
  .dis-button {
    width: 100%;
    margin-top: 48px;
    display: flex;
    align-items: center;
    padding: 9px 16px;
    justify-content: center;
    border: unset;
    background: #cecece;
    border-radius: 4px;
    font-size: 14px;
    color: rgb(0, 0, 0);
  }

  .errorMsg {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #ff0110;
  }
  .succMsg {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #74e0c1;
  }
  .error {
    color: red;
    font-size: 13px;
  }
  .tooltip {
    width: 100%;
    margin-top: 24px;
  }
  .passwordInst {
    gap: 16px;
  }

  .passwordInst_mobile {
    gap: 16px;
    padding: 0.5rem;

    background: #fafafa;
    border-radius: 5px;
  }
  .instHeader {
    font-weight: 600;
    font-size: 16px !important;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #222222;
  }
  .gaps {
    padding-bottom: 0px;
  }
}

.timeout__title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-top: 16px;
}

.timeout__description {
  color: #979797;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-top: 24px;
  // max-width: 320px;
}

.timeout__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 40px;

  button {
    padding: 13px 16px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;

    &:nth-child(2) {
      background-color: white;
      border: 1px solid #2c2c30;
      color: #2c2c30;
    }
  }
}
