
.loader__container {
    inset: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999999;
  }
  
  .loader__container img {
    animation: loader__ainmation 1.5s ease-in-out infinite;
  }
  
  @keyframes loader__ainmation {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1)
    }
  }
  