.loader {
  animation: animation 1.3s ease-in-out infinite;
}

@keyframes animation {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.2);
  }
}
