.input-container {
  width: auto;
  position: relative;
}

.input-relative {
  position: relative;
  min-height: 32px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #00255433;
}

.label-block {
  display: block;
  margin-bottom: 5px;
}

.input-inner {
  border: 1px solid #f4f6f9;
  background-color: transparent;
  width: 100%;
  min-width: 18px;
  min-height: 44px;
  border-width: 1px;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px;
  &:focus {
    outline: none;
    color: rgb(17 24 39);
    border: 1px solid black;
  }

  &:hover {
    border: 1px solid black;
  }

  &.border-red {
    border: 1px solid red;
  }

  &.pl-14 {
    padding-left: 56px;
  }

  &.pr-10 {
    padding-right: 40px;
  }
}

.input-icon__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0px;
  bottom: 0px;
}

.input-icon__overlay--left {
  padding-left: 8px;
  left: 2;
  right: unset;

  [dir="rtl"] & {
    padding-right: 8px;
    right: 2;
    left: unset;
  }
}

.input-icon__overlay--right {
  padding-right: 8px;
  right: 2;
  left: unset;

  [dir="rtl"] & {
    padding-left: 8px;
    right: unset;
    left: 2;
  }
}

.input-icon_absolute {
  position: absolute;
}

.input-icon_absolute--right {
  right: 2rem;
  left: unset;
  top: 0;
  bottom: 15px;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  z-index: 1;

  [dir="rtl"] & {
    left: 2rem;
    right: unset;
    padding-left: 0.5rem;
  }
}

.input-icon_absolute--left {
  right: unset;
  left: 0.5rem;
  top: 0;
  bottom: 15px;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;

  [dir="rtl"] & {
    right: 0.5rem;
    left: unset;
    padding-right: 0.5rem;
  }
}

fieldset {
  font-size: 14px;
  border-radius: 4px;
  text-align: left;
  inset: -5px 0px 0px;
  margin: 0px;
  padding: 0px 8px;
  pointer-events: none;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border: 1px solid #ced4da;
  // background-color: #F4F6F9;
  border: none;
}

.input-relative:hover fieldset,
.input-relative:focus fieldset {
  // border: 1px solid #000;
}

legend {
  float: unset;
  overflow: hidden;
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  height: 11px;
  font-size: 12px;
  display: none;
  max-width: 0.01px;
  -webkit-transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  white-space: nowrap;
}

border-red {
  border: 1px solid red !important;
}

fieldset.border-trans {
  border: 1px solid transparent !important;
}

.legend--focused {
  max-width: 100%;
}

.input-field[type="date"] {
  padding-left: 10px;
  padding-right: 10px;
}
[dir="rtl"] input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
}
[dir="rtl"] input[type="date"]::-webkit-datetime-edit {
  position: relative;
  text-align: right;
}
[dir="rtl"] input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  left: 250px;
}
.select-overlay .select__control {
  border: none !important;
  outline: none !important;
  background-color: transparent;
}

.select-overlay .select__control--is-focused {
  border: none !important;
  border-color: transparent !important;
  box-shadow: none;
}

.input-label {
  font-size: 14px;
  font-weight: 500 !important;
  color: #002554 !important;
  margin-bottom: 0 !important;
  letter-spacing: 0.00938em;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.input-label.pl-8 {
  padding-left: 2rem !important;

  [dir="rtl"] & {
    padding-right: 2rem !important;
  }
}

.input-label__focused.pl-8 {
  padding-left: 0;

  [dir="rtl"] & {
    padding-right: 0;
  }
}

.input-label.text-red {
  color: red !important;
}
.input-label.text-trans {
  color: #002554 !important;
}

.input-field,
select {
  font-weight: 400;
  border-radius: 4px;
  border-width: 0;
  display: block;
  font-size: 14px;
  line-height: 1.25rem;
  margin: 0;
  min-width: 18px;
  transition-duration: 10ms;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  animation-name: mui-auto-fill-cancel;
  -webkit-background-clip: text;
}

.text-inherit {
  color: inherit !important;
}

.text-disabled {
  color: #aaabab !important;
}

.input-field.pl-12 {
  padding-left: 3rem !important;
}

.input-field:focus,
select:focus {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.border-red {
  border: 2px solid red !important;
}
