@tailwind base;
@tailwind components;
@tailwind utilities;

$extraSmall: 639px;
$small: 768px;
$medium: 990px;
$large: 1024px;
$Xlarge: 1420px;

#root {
  min-width: 100vw;
  background-color: #e7ecf0;

  @media only screen and (max-width: 1023px) {
    background-color: #fff;
  }
}

html {
  background-color: #e7ecf0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  background-color: #e7ecf0;
  width: 100vw;
  height: 100vh;

  @media only screen and (max-width: 1023px) {
    background-color: #fff;
  }
}

@layer utilities {
  .white_icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(216deg)
      brightness(104%) contrast(105%);
  }
  .blue_icon {
    filter: invert(11%) sepia(99%) saturate(1665%) hue-rotate(198deg)
      brightness(102%) contrast(90%);
  }

  .green_icon {
    filter: invert(69%) sepia(19%) saturate(1338%) hue-rotate(121deg)
      brightness(97%) contrast(73%);
  }

  .fixed-width {
    width: calc(100vw - 300px);
    margin-right: 0;
    margin-left: 300px;

    [dir="rtl"] & {
      margin-right: 300px;
      margin-left: 0;
    }
  }
}

.intl-tel-input .country-list .flag-box,
.intl-tel-input .country-list .country-name {
  margin-right: 16px;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: linear-gradient(
      0deg,
      rgba(64, 193, 172, 0.2),
      rgba(64, 193, 172, 0.2)
    ),
    rgba(255, 255, 255, 1);
  color: #167767;
  border: 1px solid;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  background: linear-gradient(
      0deg,
      rgba(238, 117, 1, 0.2),
      rgba(238, 117, 1, 0.2)
    ),
    rgba(255, 255, 255, 1);
  color: #ee7501;
  border: 1px solid;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background: linear-gradient(
      0deg,
      rgba(235, 89, 89, 0.2),
      rgba(235, 89, 89, 0.2)
    ),
    rgba(255, 255, 255, 1);
  color: #eb5959;
  border: 1px solid;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  background: linear-gradient(
      0deg,
      rgba(0, 94, 184, 0.2),
      rgba(0, 94, 184, 0.2)
    ),
    rgba(255, 255, 255, 1);
  color: #005eb8;
  border: 1px solid;
}


.visible_animation {
  opacity: 1;
  animation: fade 0.3s linear;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animating {
  animation: changeDirection 0.5s linear;
}

@keyframes changeDirection {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MuiPagination-ul {
  justify-content: end;

  @media only screen and (max-width: $extraSmall) {
    place-content: center;
  }
}

.MuiPaginationItem-previousNext {
  [dir="ltr"] & {
    transform: scaleX(1);
  }
  [dir="rtl"] & {
    transform: scaleX(1);
  }
}

.dot {
  align-items: center;
  background-color: #ef5457;
  border: 1px solid transparent;
  border-radius: 100%;
  color: #fff;
  content: "";
  display: flex;
  font-weight: 500;
  justify-content: center;
  min-height: 17px;
  min-width: 17px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 8px;
}

.MuiStepper-root {
  width: 60%;

  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}
.MuiStepConnector-horizontal.Mui-active {
  .MuiStepConnector-line.MuiStepConnector-lineHorizontal {
    border-color: #005eb8;
  }
}
.MuiStepConnector-horizontal.Mui-completed {
  .MuiStepConnector-line.MuiStepConnector-lineHorizontal {
    border-color: #005eb8;
  }
}

.MuiStep-root {
  padding: 0 !important;
}

.MuiStepLabel-iconContainer {
  padding: 0 !important;
}

.MuiStepConnector-line.MuiStepConnector-lineHorizontal {
  border-top-width: 2px;
}

.MuiSvgIcon-root.MuiStepIcon-root {
  height: 39px;
  width: 39px;

  @media only screen and (max-width: 600px) {
    height: 30px;
    width: 30px;
  }
}
.MuiSvgIcon-root.MuiStepIcon-root.Mui-active {
  color: #005eb8;
}

.MuiStepLabel-iconContainer.Mui-active {
  border: 1px solid #005eb8;
  border-radius: 57px;
  padding: 6px !important;
}

span.MuiStepLabel-iconContainer.Mui-completed.MuiStepLabel-iconContainer {
  border: 1px solid #005eb8;
  border-radius: 57px;
  padding: 6px;
}

.MuiSvgIcon-root.MuiStepIcon-root.Mui-completed {
  color: #005eb8;
}

.MuiTabs-indicator {
  height: 3px;
}

.MuiFormControlLabel-root {
  border: 2px solid #00255433;
}

textarea {
  padding-top: 10px;
}
.MuiAccordionDetails-root {
  padding: 30px 50px !important;
  background-color: #f4f6f9;
  border-radius: 8px;
}
.MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 16px 0;
  box-shadow: none !important;
}

.MuiButtonBase-root-MuiIconButton-root {
  padding: 0 !important;
  margin: 0 !important;
}
.MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: white;
}
.text-exceed-limit {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.badge {
  font-size: 10px;
  color: #9695f8;
  margin: 0 8px;
  padding: 2.5px 4px;
  border-radius: 4px;
  font-weight: 500;
  background-color: rgba(150, 149, 248, 0.12);
}
.clear-filters {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #898a8d;
  cursor: pointer;

  &:hover {
    text-decoration-line: underline;
  }
}

td.MuiTableCell-root {
  padding: 12px 16px !important;
}
th.MuiTableCell-root.MuiTableCell-body {
  padding: 12px 16px !important;
}

.MuiTableRow-root:last-child td,
.MuiTableRow-root:last-child th {
  border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
  font-size: 14px;
}
.text-exceed-limit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
