
.basicInfo{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #898A8D;
    margin-bottom: 0px;
    margin-left: 5px;
  
    [dir=rtl] & {
      margin-right: 5px;
    }
  
  }
  .headerTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #222222;
    margin: 16px 0 !important;
  }
  .headerInfo{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #979797;
  }
  .radioHeader {
    font-weight: 600;
    color: #212121;
    margin: 16px 0;
  }
  .radioButtons {
    display: flex;
    width: 175px;
    justify-content: space-between;
    margin-left: 5px;
  
    [dir=rtl] & {
      margin-right: 5px;
    }
    .radioLabel {
      flex-direction: row-reverse;
      align-items: center;
      margin-top: 0;
      .radio-option {
        margin-right: 13px;
        width: 16px;
        height: 16px;
      }
    }
  }
  .form-check-input:checked {
    background-color: #000;
    border-color: #000;
  }
  .forgot_passLogin {
        text-decoration: underline;
        color: #222222;
        font-size: 14px;
        line-height: 19px;
        cursor: pointer;
        font-weight: 300;
        font-weight: 500;
        text-align: right;
        margin-top: 20px;
  
        [dir=rtl] & {
          text-align: left;
        }
    }
  
    .languageAligment{
      text-align: -webkit-right !important;
      width: auto;
      place-self: center;
  
      [dir=rtl] & {
       text-align: -webkit-left !important;
      }
    
    }
  
    .iconAligment{
      margin-right: 5px;
      margin-left: 0;
  
      [dir=rtl] & {
        margin-right: 0px;
        margin-left: 5px;
      }
    
    }
  
  .tooltip{
    position: absolute;
    right: 7%;
    left: unset;
  
    [dir=rtl] & {
      left: 7%;
      right: unset;
    }
  }