.select-overlay {
  border-color: transparent;
  border: 0;
  outline: none;
  text-align: -webkit-left;

  [dir="rtl"] & {
    text-align: -webkit-right;
  }
}

.externalWidth {
  width: 170px;
}

.select-overlay .select__control {
  border: 0;
  outline: none;
  height: 56px;
}

.select-overlay .select__control--is-focused {
  border: none;
  border-color: transparent;
  box-shadow: none;
}

.avatarImage {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #fff;
  color: black;
  font-size: 18px;
  margin-right: 12px;
  text-transform: capitalize;
  display: inline;
  align-items: center;
  justify-content: center;

  [dir="rtl"] & {
    margin-left: 12px;
  }
}

.profileImage {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

[dir="rtl"] .profileImage {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.option-name {
  font-weight: 400;
  margin: 0;
}

.option-subText {
  font-weight: 400;
  color: #898a8d;
}

.selected {
  display: flex;
  align-items: center;
  padding: 0;
}

[dir="rtl"] .flex-poistion {
  flex-direction: row-reverse;
}

.floating-filter-options {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1000;
  min-width: 300px;
  height: auto;
  max-height: 300px;
  overflow: scroll;
  background-color: white;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  margin: 20px 0;

  [dir="rtl"] & {
    right: 0;
    left: unset;
  }
}

.floating-filter-option--search {
  background: transparent;
  border-bottom: 1px solid #eee;

  &:hover {
    background: transparent !important;
  }
}

.floating-filter-option {
  height: 52px;
  background: #ffffff;
  cursor: pointer;
  padding: 10px 20px;

  &:hover {
    background: #fdfff5;
  }
}

.floating-filter-option.bg-selected {
  background: #fdfff5;
}

.select {
  background-color: #fff;
  border-radius: 4px;

  fieldset {
    font-size: 14px !important;
    border-radius: 4px;
    text-align: left;
    position: absolute;
    inset: -2px -2px -2px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border: 1px solid #ced4da;
    background-color: transparent;
    border: none;
  }

  .input-relative:hover fieldset,
  .input-relative:focus fieldset {
    border: 1px solid #000;
  }
}

.autoHeight {
  height: auto !important;
  position: relative !important;
  z-index: 99999999999999999 !important;
}
